body{
    margin: 0;
    padding: 0;
    min-width: 900px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    padding: 0.5em 0;
    color: #F58320;
}

.header{
    background: linear-gradient(lightgray, white);
}

.body{
    background: linear-gradient(lightgray, white);
}

.container{
    width: 900px;
    height: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.container div{
    float: left;
    height: 117px;
    width: 380px;
    padding: 10px;
    background-color: white;
}

.container h2{
    font-size: 20px;
    border-bottom: 1px solid #444;
    margin-bottom: 0.5em;
    padding: 0;
    margin-top: 0;
}

.container p{
    margin: 0;
    padding-bottom: 0.5em;
    font-size: 14px;
}

.container input{
    background-color: darkgray;
    border-style: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 25px;
    width: 189px;
}

.container button{
    background-color: #444444;
    color: white;
    border-style: none;
    height: 25px;
    width: 78px;
}

.container img{
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: #F58320;
    text-align: center;
}

li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

li a:hover:not(.active) {
    background: linear-gradient(lightgray, white);
    color: darkslategray;
}

.active {
    background: linear-gradient(lightgray, white);
    color: darkslategray;
}

.feature{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.feature div{
    float: left;
    width: 357px;
    height: 277px;
    margin: 0;
}

.feature h1{
    font-size: 40px;
    height: 100px;
    padding: 0;
    margin: 0;
}

.feature p{
    margin: 0;
    font-size: 14px;
}

#signature{
    font-style: italic;
    padding-top: 10px;
}

.feature button{
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #444444;
    color: white;
    border-style: none;
    height: 26px;
    width: 110px;
}

.feature img{
    border: 1px solid #444; 
    width: 531px;
    height: 275px;
    float: right;
}